/* Cart */

.cart-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -25rem;
    top: 0;
    width: 21.875rem;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 2.25rem #04040445;
    z-index: 2;
    transition: all ease-in-out 300ms;
}

.cart-title h4 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 1.2rem 1.875rem 1.25rem;
    border-bottom: 1px solid #dbdbdb;
}

.cart-body {
    padding: 1.875rem 0;
    display: flex;
    flex-direction: column;
    min-height: 85%;
    max-height: 85%;
    overflow-y: scroll;
}

.cart-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0 1.875rem;
}

.cart-sidebar .cart-item .img img {
    width: 100%;
}

.cart-sidebar .cart-item .text {
    width: 80%;
    padding: 0 1.25rem;
}
.cart-sidebar .cart-item .text span,
.cart-sidebar .cart-item h5 {
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    margin-bottom: 0.3125rem;
}

.cart-sidebar .btn {
    display: inline-block;
    text-align: center;
}

.cart-sidebar .close {
    position: absolute;
    right: 1.25rem;
    top: 1rem;
}

.cart-sidebar h5 span.close {
    position: relative;
    top: 0;
    right: 0;
    left: 3.5rem;
}

#totalAmount {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}