/*Global Boy*/
:root{
    --landing-light-gray: #fafafa;
    --landing-dark-gray: #f3f4f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: 0;
}

button:focus {
    outline: none;
}

a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 200ms ease-in-out;
}
a:visited {
  color: black;
}
a:active{
    color:white;
    
}

a.header-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

a.header-button:hover{
    color: black;
}

.text-container-top a:hover {
    color: rgb(199, 35, 35);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header*/
header {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 1rem;

}

h1.index-h1 {
    text-align: center;
}
/* nav */
nav {
    display: flex;
    height: 100%;
    width: 50%;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}